// BREAKPOINT SIZES
$small: 480px;
$medium: 768px;
$large: 1024px;
$x-large: 1280px;

// DEVICE BREAKPOINTS
$mobile: 0;
$tablet: $small;
$tablet-landscape: $medium;
$desktop: $large;
$large-desktop: $x-large;

// COLOURS
$gray-dark: #141518;
$white: #fff;

// Z-INDICES
$bottom: 1;
$middle: 5;
$top: 10;
