@import '../../stylesheets/base';

.image-grid {
  width: 100%;
  min-height: 100vh;

  .image-container {
    display: inline-block;

    @include min-screen($tablet-landscape) {
      max-width: 33%;      
    }
  }
}
